[submodule "Final_Project/Context-Aware-Conversational-Agent"]
	path = Final_Project/Context-Aware-Conversational-Agent
	url = https://github.com/MohamedRamadan111/Context-Aware-Conversational-Agent.git
