streamlit
langchain
langchain-openai
langchain-chroma
langchain-huggingface
langchain-community
datasets
sentence-transformers
pysqlite3-binary
langgraph
langchain-google-genai

fastapi
uvicorn
langchain-core
langchain-openai
langchain-huggingface
langgraph
pydantic
sentence-transformers